@import url("https://use.typekit.net/ddm7kvr.css");


* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    color: #2B3441;
}

html, body{
    height: 100%;
    width: 100%;
}

#hp {
  margin: 0;
     background-image: url('img/fondhp.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
   /* height: 100vh;
    width: 100vw;*/
}

/*
.container-fluid {
min-height: 100%;
    height: 100%;
}*/


.fakeimg {
    height: 400px;
    background: #aaa;
  }


.navbar{
    opacity: .8;

}

.navbar-brand{
    margin-left: .5rem;
    margin-right: .5rem;
}

.navbar-light .navbar-nav .nav-link{
        text-align: center;
/*font: Book 12px/16px Futura Std;*/
    font-size: 12px;
letter-spacing: 2.4px;
color: #2B3441;
text-transform: uppercase;
    opacity: 1;
    margin-right: .5rem;
    margin-left: .5rem;
}

.logo-container{
    /*flex-direction: column;*/
    align-items: center; 
    justify-content: center; 
    height: 100vh;
    align-content: center;
    
} 

.logo {
  margin: 0;
     background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  /* height: 100vh;*/
   /* width: 100vw;*/
}


.fond{
    
    background: rgba(255,255,255,1);
    

background: linear-gradient(rgba(255,255,255,1) 0%, rgba(255,255,255,1) 25%, rgba(242,233,225,1) 25%, rgba(242,233,225,1) 70%, rgba(255,255,255,1) 70%, rgba(255,255,255,1) 100%);
    
    /*
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 37%, rgba(242,233,225,1) 38%, rgba(242,233,225,1) 67%, rgba(255,255,255,1) 67%, rgba(255,255,255,1) 100%);
    
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(37%, rgba(255,255,255,1)), color-stop(38%, rgba(242,233,225,1)), color-stop(67%, rgba(242,233,225,1)), color-stop(67%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
    
background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 37%, rgba(242,233,225,1) 38%, rgba(242,233,225,1) 67%, rgba(255,255,255,1) 67%, rgba(255,255,255,1) 100%);
    
background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 37%, rgba(242,233,225,1) 38%, rgba(242,233,225,1) 67%, rgba(255,255,255,1) 67%, rgba(255,255,255,1) 100%);
    
background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 37%, rgba(242,233,225,1) 38%, rgba(242,233,225,1) 67%, rgba(255,255,255,1) 67%, rgba(255,255,255,1) 100%);
    
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );*/
    
}

h1{
    text-decoration: underline;
/*font: Book 17px/23px Futura Std;*/
letter-spacing: 3.4px;
color: #2B3441;
text-transform: uppercase;
    font-size: 1rem;
}

h2{
    text-align: center;
/*font: Medium 28px/40px Futura Std;*/
letter-spacing: 11.2px;
color: #2B3441;
text-transform: uppercase;
     font-size: 1.8rem;
}


h3{
   /* text-align: center;*/
font: Book 19px/27px Futura Std;
letter-spacing: 3.8px;
color: #2B3441;
    font-size: 1.1rem;
}

h4{
text-align: center;
/*font: Book 22px/39px Futura Std;*/
letter-spacing: 6px; /* 8.8 */
color: #2B3441;
text-transform: uppercase;
     font-size: 1.3rem;
    line-height: 2rem;
}

h5{
text-align: center;
/*font: Book 22px/39px Futura Std;*/
letter-spacing: 4px;
color: #2B3441;
text-transform: uppercase;
     font-size: .7rem;
    padding-left: 15%;
    padding-right: 15%;
    font-weight: 400;

}

.plus{
    text-align: center;
/*font: Light 62px/86px Futura Std;*/
letter-spacing: 24.8px;

    font-size: 3.8rem;
}

p a {
    color:#C96B54; 
    text-decoration: underline;
    letter-spacing: 3.6px;
}



.content {
	background-color: #FF495D;
	height: 100%;
	width: 100%;

	/*float: right;
	overflow: auto;*/
    
	/* display: flex; */
	/* flex-direction: column; */
	/* justify-content: center; */
}

adress{
   /* font: Medium 30px/46px FreightBig Pro;*/
    font-size: 30px;
letter-spacing: 3px;
color: #2B3441;
    font-family: freight-big-pro;
}

.social{
  font-size: 13px;
    text-decoration: underline;
/*font: Book 13px/19px Futura Std;*/
letter-spacing: 3.9px;
color: #C96B54;
text-transform: uppercase;
    padding: .3rem;
}

.mentions{
   /* font: Medium 10px/14px Futura Std;*/
letter-spacing: 2px;
    font-size: 0.6rem;
    color: #FFFFFF;
}

footer{
    background-color: #2B3441;
    color: white;
    padding: 10px;
}



/****page pilates****/


#pilates h1{
    letter-spacing: 28.8px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 48px;
    line-height: 68px;
    font-weight: 500;
}


#pilates h2{
    text-decoration: underline;
/*font: Book 17px/23px Futura Std;*/
letter-spacing: 3.4px;
text-transform: uppercase;
    font-size: 17px;
    font-weight: 400;
}

#pilates h3{
    letter-spacing: 4.2px;
    font-size: 21px;
    line-height: 29px;
    padding-bottom: 1.5rem;
    padding-top: .5rem;
    font-weight: 500;
}

.text0{
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 20px;
    font-weight: 500;
}

#pratiques{
    background-color: white;
}


#pilates {
  margin: 0;
    background-image: url('img/fondpilates.png');
   /*background: #C96B54 0% 0% no-repeat padding-box;*/
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: left;
   /* height: 100vh;
    width: 100vw;*/
}

#pilates .logo{
    z-index: 1025;
}

#pilates .titregris{
    letter-spacing: 3.8px;
     font-size: 19px;
        padding-right: 15%;
    padding-left: 15%;
    padding-top: 5%;
        padding-bottom: 0;
}
  
strong{
    font-family: freight-big-pro;
}

.textgris{
  
    font-size: 20px;
letter-spacing: 1px;
    font-family: freight-big-pro;
    font-weight: 300;
    line-height: 39px;
    padding-right: 15%;
    padding-left: 15%;
    padding-top: 5%;

}


.fixed{
    position:fixed;
   /* z-index: 1020;*/
    top: 0 ;
    right: 0;
}

#pilates .textmaj{
    text-align: center;
font: Book 19px/27px Futura Std;
letter-spacing: 3.8px;
color: #2B3441;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 15%; /*4rem;*/
    text-align: left;
    font-weight: 400;
    line-height: 2rem;
}
#pilates .textmaj2{
    text-align: center;
font: Book 19px/27px Futura Std;
letter-spacing: 3.8px;
color: #2B3441;
    font-size: 1rem;
    text-transform: uppercase;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    font-weight: 400;
    line-height: 2rem;
    padding-top: 1rem;
}

#methodepilates{
    flex-direction: column;
    display: flex;
    justify-content: center;
    background-color: white;
}

.text1{
    text-transform: uppercase;
    color: #F2E9E1;
    letter-spacing: 7.2px;
    /*font: Book 24px/60px Futura Std;*/
    text-align: right;
    font-size: 1.5rem;
    line-height: 3.5rem;
    padding-right: 15%;
    padding-left: 25%;
    padding-top: 10%;
    font-weight: 200;
}

.text2{
    text-transform: uppercase;
    color: #2B3441;
    letter-spacing: 6.9px;
    /*font: Book 24px/60px Futura Std;*/
    text-align: left;
    font-size: 1.2rem;
    line-height: 2rem;
    padding-right: 0;
    padding-left: 0;
    padding-top: 10%;
    font-weight: 400;
}


.bg1 {
  /* The image used */
  background-image: url("img/pilates1.jpg");

  /* Full height */
 /* height: 100%;
    width: 50%;*/

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    
   /*      background-image: url('img/fondhp.png');*/
    background-repeat: no-repeat;
  /*  background-attachment: fixed;
    background-size: cover;
    background-position: center;*/
}

/****page pilates - LES COURS****/

#pilates .textgauche{
    text-transform: uppercase;
    font-size: 30px;
    line-height: 42px;
    font-weight: 500;
    letter-spacing: 9px;
    padding-right: 2rem;
    color: #2B3441;
}

#pilates .textdroite{
    letter-spacing: 4.5px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: .5rem;
}

#pilates .textdroite2{
    letter-spacing: 1px;
    font-family: freight-big-pro;
    font-size: 20px;
    font-weight: 200;
}



.fond2{
    
    background: rgba(255,255,255,1);
    
background: linear-gradient(rgba(242,233,225,1) 0%, rgba(242,233,225,1) 25%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 100%);
    
}




/***en savoir plus**/
#ensavoirplus .email{
    text-decoration: underline;
letter-spacing: 5.4px;
text-transform: uppercase;
    font-size: 18px;
    color: inherit;
    font-weight: 400;
}


#ensavoirplus .tel{
letter-spacing: 5.4px;
    font-size: 18px;
    color: inherit;
    font-weight: 400;
}


